<header>
    <h2 routerLink="/expert-analytics">Response Analytics</h2>
</header>
<body class="wrapper">
    <div id="butn">
        <button mat-raised-button color="primary" routerLink="/expert-analytics">Go Back</button>
    </div>
    <mat-card>
        <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </mat-card>
    <mat-card>
        <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </mat-card>
    <mat-card>
        <div id="chartContainer3" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    </mat-card>
</body>
