
.navbar-header {
    margin: 0 auto;
    display: table;
 }

  .list{
      margin-top: 30px;
      border-block-color: black;
  }
  .card-body{
      margin-top: 30px;
      margin-bottom: 30px;
      border-style: solid;
      border-width: 3px;
  }

  .jumbotron{
      height: auto;
  }
